version: "3.9"

services:
  proxy:
    image: caddy:2-alpine
    container_name: callico-proxy
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data:/data
      - ./config:/config
